#root {
  height: 100vh;
  background-size: cover;
  background-image: url(assets/login-background.jpg);
}

header {
  color: #fff;
}

ul {
  margin: 0;
}

li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
}

form {
  border-radius: 4px;
  background-color: #fff;
  width: 320px;
  height: 150px;
  padding: 44px 60px;
}

#signUpButton {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
